# Python Packaging
*.egg/
*.egg-info/
pyenv/
/build/
/dist/
/MANIFEST

# Python Caches
__pycache__/
*.py[cod]
*.pot
*.mo

# Python Utils
.coverage
/htmlcov/
/.tox/

# IDE Projects
.idea
.nbproject
.project
*.sublime-project

# Temps
*~
*.tmp
*.bak
*.swp
*.kate-swp
*.DS_Store
Thumbs.db

# Runtime
*.log
*.pid

# Locals
local/
*.local

# Forced Exclusions
!.gitkeep
!.htaccess
